<!doctype html>
<html>

<head>
    <!-- build:css styles/options-vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css styles/main.css -->
    <link href="styles/main.css" rel="stylesheet">
    <link href="styles/options.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/bootstrap/dist/css/bootstrap.css">

    <!-- endbuild -->
</head>

<body ng-app="app" ng-controller="optionsCtrl">

    <div class="container">
        <div id="content">
            <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                <li class="active"><a href="#purecloud" data-toggle="tab">PureCloud</a></li>
                <li><a href="#cic" data-toggle="tab">CIC</a></li>
                <li><a href="#powerbi" data-toggle="tab">Power BI</a></li>
                <li><a href="#general" data-toggle="tab">General</a></li>                
            </ul>
            <div id="my-tab-content" class="tab-content">

                <!-- <Pure Cloud tab> -->
                <div class="tab-pane active" id="purecloud">
                    <div class="options-panel-box">
                        <div class="options-panel-left">
                            <img src="images\logo-purecloud.png">
                        </div>
                        <div class="options-panel-right">
                            <div class="input-group">
                                <div class="input-group-addon">Auth URL</div>
                                <input type="text" class="form-control" id="pcAuthUrl" ng-model="pcAuthUrl" ng-bind="pcAuthUrl" ng-change="pcOptionsChanged()">
                            </div>
                            <div class="input-group">
                                <div class="input-group-addon">Access Token URL</div>
                                <input type="text" class="form-control" id="pcAccessTokenUrl" ng-model="pcAccessTokenUrl" ng-bind="pcAccessTokenUrl" ng-change="pcOptionsChanged()">
                            </div>
                            <div class="input-group">
                                <div class="input-group-addon">Client ID</div>
                                <input type="text" class="form-control" id="pcClientId" ng-model="pcClientId" ng-bind="pcClientId" ng-change="pcOptionsChanged()">
                            </div>
                            <div class="input-group">
                                <div class="input-group-addon">Client Secret</div>
                                <input type="text" class="form-control" id="pcClientSecret" ng-model="pcClientSecret" ng-bind="pcClientSecret" ng-change="pcOptionsChanged()">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- </Pure Cloud tab> -->

                <!-- <CIC tab> -->
                <div class="tab-pane" id="cic">
                    <div class="options-panel-box">
                        <div class="options-panel-left">
                            <img src="images\logo-cic.png">
                        </div>
                        <div class="options-panel-right">
                            <div class="input-group">
                                <div class="input-group-addon">IC Server</div>
                                <input type="text" class="form-control" id="icIcServer" ng-model="icIcServer" ng-bind="icIcServer" ng-change="icOptionsChanged()">
                            </div>
                            <div class="input-group">
                                <div class="input-group-addon">Port</div>
                                <input type="text" class="form-control" id="icPort" ng-model="icPort" ng-bind="icPort" ng-change="icOptionsChanged()">
                            </div>
                            <div class="input-group">
                                <div class="input-group-addon">Username</div>
                                <input type="text" class="form-control" id="icUsername" ng-model="icUsername" ng-bind="icUsername" ng-change="icOptionsChanged()">
                            </div>
                            <div class="input-group">
                                <div class="input-group-addon">Password</div>
                                <input type="password" class="form-control" id="icPassword" ng-model="icPassword" ng-bind="icPassword" ng-change="icOptionsChanged()">
                            </div>
                            <div class="input-group">
                                <div class="input-group-addon">Use SSL</div>
                                <div class="form-control checkbox-inline">
                                    <input type="checkbox" class="form-control-checkbox" id="icUseSsl" ng-model="icUseSsl" ng-bind="icUseSsl" ng-change="icOptionsChanged()">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- </CIC tab> -->

                <!-- <Power BI tab> -->
                <div class="tab-pane" id="powerbi">
                    <div class="options-panel-box">
                        <div class="options-panel-left">
                            <img src="images\logo-powerbi.png">
                        </div>
                        <div class="options-panel-right">                                                
                            <div class="input-group">
                                <div class="input-group-addon">Client Id</div>
                                <input type="text" class="form-control" id="pbiClientId" ng-model="pbiClientId" ng-bind="pbiClientId" ng-change="pbiOptionsChanged()">
                            </div>
                            <div class="input-group">
                                <div class="input-group-addon">Redirect URI</div>
                                <input type="text" class="form-control" id="pbiRedirectUri" ng-model="pbiRedirectUri" ng-bind="pbiRedirectUri" ng-change="pbiOptionsChanged()">
                            </div>
 
                        </div>
                    </div>
                </div>
                <!-- </Power BI tab> -->

                <!-- <General tab> -->
                <div class="tab-pane" id="general">
                    <div class="options-panel-box">
                        <div class="options-panel-left">
                            <img src="images\logo-general.png">
                        </div>
                        <div class="options-panel-right">
                            <div class="form-group">
                                <label for="x">Checkbox:</label>
                                <input type="checkbox" class="form-control" id="x">
                            </div>
                            <div class="form-group">
                                <label for="pwd">Password field:</label>
                                <input type="password" class="form-control" id="pwd">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- </General tab> -->
            </div>
        </div>
    </div> <!-- container -->    
    
    <script type="text/javascript" src="lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="styles/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="scripts/app.js"></script>        
    <script type="text/javascript" src="scripts/controllers/optionsCtrl.js"></script>
    <script type="text/javascript" src="scripts/providers/loggerProvider.js"></script>    
    
    </div>
    <!-- container -->

    <!-- build:js scripts/options-vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-chrome-storage/angular-chrome-storage.js"></script>
    <script src="bower_components/log4javascript/log4javascript.js"></script>
    <script src="bower_components/store-js/store.js"></script>
    <script src="bower_components/adal-angular/lib/adal.js"></script>
    <script src="bower_components/adal-angular/lib/adal-angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/requirejs/require.js"></script>
    <script src="bower_components/domReady/domReady.js"></script>
    <script src="bower_components/require-css/css.js"></script>
    <script src="bower_components/require-css/css-builder.js"></script>
    <script src="bower_components/require-css/normalize.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/JSONPath/lib/jsonpath.js"></script>
    <script src="bower_components/ng-jsonpath/dist/ng-jsonpath.js"></script>
    <script src="bower_components/angular-utf8-base64/angular-utf8-base64.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/options.js -->

    <!-- endbuild -->

    <script type="text/javascript" src="lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="styles/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="scripts/controllers/optionsCtrl.js"></script>
    <script type="text/javascript" src="scripts/providers/loggerProvider.js"></script>

</body>

</html>