<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <!-- build:css styles/popup-vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css styles/main.css -->
    <link href="styles/main.css" rel="stylesheet">
    <link href="styles/popup.css" rel="stylesheet">
    <!-- endbuild -->
    <link rel="stylesheet" href="styles/bootstrap/dist/css/bootstrap.css">
</head>

<body ng-app="app" ng-controller="popupCtrl">
    <ul class="nav nav-pills btn-xs">
        <li role="presentation">
            <a href="https://bitbucket.org/eccemea/analytics-hub/wiki/Home" id="link_started" class="menuItem" ng-click="openUrl($event)">Get started</a>
        </li>
    </ul>
    <hr class="menuDevider" />
    <div class="btn-group-vertical" role="group" aria-label="...">
        <button type="button" class="btn btn-default menuItem btn-xs" id="connectButton_PC" ng-click="togglePCConnectionIndicator($event)">
            <span class="label" ng-class="isPCConnected ? 'label-success' : 'label-danger'" id="connectionIndicator_PC">IN</span>
            PureCloud
        </button>
        <button type="button" class="btn btn-default menuItem btn-xs" id="connectButton_CIC" ng-click="toggleCICConnectionIndicator($event)">
            <span class="label" ng-class="isCICConnected ? 'label-success' : 'label-danger'" id="connectionIndicator_CIC">IN</span>
            CIC 
           <loading></loading>
        </button>
    </div>
    <hr class="menuDevider" />
    <div class="btn-group-vertical" role="group" aria-label="...">
         <button type="button" class="btn btn-default menuItem btn-xs" id="connectButton_PowerBI" ng-click="togglePowerBIConnectionIndicator($event)">
             <span class="label" ng-class="isPowerBIConnected ? 'label-success' : 'label-danger'" id="connectionIndicator_PowerBI">OUT</span>
             PowerBI
         </button>
     </div>
    <hr class="menuDevider" />
    <div class="btn-group-vertical" role="group" aria-label="...">
         <button type="button" class="btn btn-default menuItem btn-xs" id="sendToPowerBI" ng-click="sendToPowerBI('PureCloud', 'Conversations', [{'Id':'1234567890111', 'Name':'Test', 'StartTime':'08/01/2016'}] )">
             <span class="label" ng-class="isPowerBIConnected ? 'label-success' : 'label-danger'" id="sendToPowerBI">SEND</span>
             PowerBI
         </button>
     </div>
    <hr class="menuDevider" />
    <ul class="nav nav-pills btn-xs">
        <li role="presentation">
            <a href="https://bitbucket.org/eccemea/analytics-hub/issues" id="link_issues" class="menuItem" ng-click="openUrl($event)">Report an issue</a>
        </li>
    </ul>
    
    <!-- build:js scripts/popup-vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-chrome-storage/angular-chrome-storage.js"></script>
    <script src="bower_components/log4javascript/log4javascript.js"></script>
    <script src="bower_components/store-js/store.js"></script>
    <script src="bower_components/adal-angular/lib/adal.js"></script>
    <script src="bower_components/adal-angular/lib/adal-angular.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- Main App -->
    <script type="text/javascript" src="scripts/app.js"></script>

    <!-- providers -->
    <script type="text/javascript" src="scripts/providers/loggerProvider.js"></script>
    
    <!-- services -->
    <script type="text/javascript" src="scripts/services/cicService.js"></script>
    <script type="text/javascript" src="scripts/services/powerbiService.js"></script>

    <!-- controllers -->
    <script type="text/javascript" src="scripts/controllers/popupCtrl.js"></script>

    <!-- PowerBI -->    
    <script type="text/javascript" src="scripts/powerbilogin.js"></script>

</body>

</html>